# vim: set filetype=ruby:

config do
  url 'https://www.whitehouse.gov/blog'
  xpath :next_page_link, "//div[@class=\"page-load-next\"]/a"
  xpath :entry_link, "//h2[contains(@class, \"node-title\")]/a[@class=\"node-blog_post-name-link\"]"
end

results = []

entry do |page|
  results << page.parser.xpath('//title')
end

post_process do
  puts results
end
