# vim: set filetype=ruby:
require 'date'

config do
  url 'https://www.whitehouse.gov/blog'
  xpath :next_page_link, "//div[@class=\"page-load-next\"]/a"
  xpath :entry_link, "//h2[contains(@class, \"node-title\")]/a[@class=\"node-blog_post-name-link\"]"
end

results = []

entry do |page|
  date = page.search('div.panel-col-section-content-first div.pane-forall-blog-post-author-pane')[0].text.gsub(/\s*(\S.+) at (.+) by .+$/m, '\1 \2')
  results << DateTime.strptime(date.gsub('ET', 'EST'), '%B %d, %Y %I:%M %p %Z')
end

post_process do
  puts results
end
